* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 100;
}

.management-section {
  width: 840px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 890px) {
  .navbar {
    margin-bottom: 30px;
  }

  .management-section {
    width: 90vw;
  }
}

@media only screen and (max-width: 860px) {
  .management-section {
    width: unset;
    flex-direction: column;
  }
}

@media only screen and (max-width: 805px) {

  .management-section {
    flex-direction: column;
  }
}
