* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 100;
}

.management-section {
  width: 840px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// .modal-main-container {
//   top: 0;
//   position: absolute;
//   width: 100vw;
//   height: 100vh;
//   background-color: #fffffff5;
//   transform: scale(0);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   .modal-forms-container {
//     padding: 25px;
//     border-radius: 25px;
//     box-shadow: 1px 1px 12px #0000001f;
//     background-image: linear-gradient(
//       to right bottom,
//       #ffffff,
//       #fafafa,
//       #f6f6f6,
//       #f1f1f1,
//       #ededed
//     );
//     form {
//       display: flex;
//       flex-direction: column;
//       label {
//         font-size: 22px;
//         margin: 10px 5px;
//       }
//       input {
//         min-width: 200px;
//         font-size: 22px;
//         border: none;
//         padding: 10px;
//         border-radius: 25px;
//         box-shadow: 1px 1px 12px #0000000d;
//       }
//       select {
//         border: none;
//         background-color: #ffffff;
//         color: #1f1f1f;
//         font-size: 22px;
//         box-shadow: 1px 1px 12px #0000000d;
//       }
//       div {
//         display: flex;
//         justify-content: center;
//         margin: 40px 0px 10px 0px;
//       }
//     }
//     .confirmation-buttons-container {
//       width: 100%;
//       display: flex;
//       justify-content: center;
//       .confirm-btn {
//         margin-right: 30px;
//       }
//     }
//   }
// }

// .appointments-table {
//   width: 800px;
//   display: flex;
//   flex-direction: column;
//   border-radius: 15px;
//   padding: 20px;
//   margin-bottom: 70px;
//   box-shadow: 1px 1px 12px #0000001f;
//   background-image: linear-gradient(
//     to right bottom,
//     #ffffff,
//     #fafafa,
//     #f6f6f6,
//     #f1f1f1,
//     #ededed
//   );

//   .appointments-row {
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     p {
//       margin: 8px 20px 8px 0px;
//       &:nth-child(1) {
//         // width: 140px;
//       }
//       &:nth-child(2) {
//         // width: 120px;
//       }
//       &:nth-child(3) {
//         // width: 250px;
//       }
//       &:last-child {
//         margin: 8px 0px !important;
//       }
//     }
//   }
// }

// @media only screen and (min-width: 2400px) {
//   .navbar {
//     .nav-btn {
//       width: 70px;
//       height: 70px;
//       background: #1f1f1f;
//       padding: 25px;
//       margin: 0px 25px;
//       border-radius: 50%;
//       cursor: pointer;
//       transition: 0.7s ease-in-out;
//     }
//   }

//   p {
//     font-size: 50px !important;
//   }

//   button {
//     font-size: 50px;
//     border-radius: 50px;
//     padding: 10px 40px;
//   }

//   select {
//     font-size: 50px;
//     padding: 10px 30px;
//     border-radius: 40px;
//   }

//   .appointments-table {
//     width: 70vw;
//     padding: 40px;
//     .appointments-row {
//       p {
//         margin: 8px 40px 8px 0px;
//         font-size: 45px;
//         &:nth-child(1) {
//           // width: 450px;
//         }
//         &:nth-child(2) {
//           // width: 420px;
//         }
//         &:nth-child(3) {
//           // width: 520px;
//         }
//       }
//     }
//   }

//   .management-section {
//     width: 72.5vw;
//   }

//   .modal-main-container {
//     .modal-forms-container {
//       padding: 45px;
//       form {
//         label {
//           font-size: 60px;
//           margin: 30px 5px;
//         }
//         input {
//           font-size: 60px;
//         }
//       }
//     }
//   }

//   .dates-main-container,
//   .hours-main-container {
//     padding: 55px;
//   }

//   .dates-row,
//   .hours-row {
//     p {
//       min-width: 350px;
//     }

//     * {
//       margin: 20px 50px 20px 0px;
//     }
//   }

//   .buttons-container-row {
//     button {
//       margin-right: 40px;
//     }
//   }
// }

@media only screen and (max-width: 890px) {
  .navbar {
    margin-bottom: 30px;
  }

  .management-section {
    width: 90vw;
  }
}

@media only screen and (max-width: 860px) {
  .management-section {
    width: unset;
    flex-direction: column;
  }
}

@media only screen and (max-width: 805px) {

  .management-section {
    flex-direction: column;
  }
}
