* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 100;
}

button {
  border: none;
  font-size: 20px;
  border-radius: 20px;
  padding: 3px 20px;
  font-weight: 100;
  border: 1px solid #1f1f1f;
  background: #1f1f1f;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  &:hover {
    background: #fff;
    color: #1f1f1f;
  }
}
