* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 100;
}

button {
  border: none;
  font-size: 20px;
  border-radius: 20px;
  padding: 3px 20px;
  font-weight: 100;
  border: 1px solid #1f1f1f;
  background: #1f1f1f;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  &:hover {
    background: #fff;
    color: #1f1f1f;
  }
}

// used in dashboard and history component
.appointments-table {
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 70px;
  box-shadow: 1px 1px 12px #0000001f;
  background-image: linear-gradient(
    to right bottom,
    #ffffff,
    #fafafa,
    #f6f6f6,
    #f1f1f1,
    #ededed
  );
  overflow-y: scroll;
  .appointments-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      margin: 8px 20px 8px 0px;
      &:nth-child(1) {
        width: 140px;
      }
      &:nth-child(2) {
        width: 120px;
      }
      &:nth-child(3) {
        width: 250px;
      }
      &:last-child {
        margin: 8px 0px !important;
      }
    }
  }
}