<div class="navbar fade-in">
    <div routerLink="/" class="home-btn">
        <img src="../../../assets/imgs/home.png" alt="">
    </div>
</div>
<div class="basic-main-container">
    <ng-container *ngIf="appointment">
        <div class="content-container fade-in">
            <h1>Váš termín</h1>
            <p class="hover">{{ appointment.date }} {{ appointment.time }}</p>
            <p [ngClass]="{'margin-bottom-0': questions === true}">ďakujem {{ appointment.fullName }}, že ste si vybrali mňa. teším sa na Vás. </p>
        </div>
    </ng-container>
    <ng-container *ngIf="!appointment">
        <div class="lds-ripple"><div></div><div></div></div>
    </ng-container>
</div>