@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;800;900&family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.navbar {
  position: fixed;
  background-color: #000;
  .home-btn {
    width: 25px;
    height: 25px;
    background: transparent;
    padding: 13px;
    margin: 0px 7px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.7s ease-in-out;
    &:hover {
      opacity: 0.8;
    }
    img {
      height: inherit;
    }
  }
}

.basic-main-container {
  background-color: #000;
  height: 100vh;
  overflow: hidden;
  .content-container {
    width: 465px;
    h1{
      font-family: "Bebas Neue", cursive;
      text-transform: uppercase;
      font-size: 115px;
      color: #f1c800;
      margin: 0;
      line-height: 1;
      letter-spacing: 5px;
      text-align: center;
    }
    p {
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      text-align: center;
      color: #bababa;
      margin: 0;
      text-align: center;
      &:first-of-type {
        font-size: 58px;
        margin-bottom: 15px;
      }
      &:last-of-type {
        font-size: 20px;
      }
    }

  }
}

@media only screen and (max-width: 768px) {
  .basic-main-container {
    .content-container {
      width: 300px;
      h1 {
        font-size: 60px;
        margin-bottom: 15px;
      }
      p {
        &:first-of-type {
          font-size: 32px;
        }
        &:last-of-type {
          font-size: 20px;
        }
      }
    }
  }
}